<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Todos</title>
</head>
<body>
<div>
    <nav style="justify-content: center"  class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">My Todo Lists</span>
    </nav>
    <div class="container">
        <form action="/" id="prename-form" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Todo Here</label>
              <input name="prename" type="text" class="form-control" placeholder="Enter prename">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Todos</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(item => { %>
                <tr>
                  <th scope="row"><%= item.id  %></th>
                  <td><%= item.text  %></td>
                  <td>
                      <form style="display:inline" action="/<%= item.id %>/delete" method="DELETE">
                          <button class="btn btn-danger"> Delete Post </button>
                      </form>
                  </td>
                  <td scope="row">
                    <form action="/<%= item.id %>/update" method="POST">
                      <div class="form-group">
                        <input name="update" type="text" class="form-control" placeholder="Update Todo">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          
    </div>
</body>
</html>